<footer>
    <div id="nav_menu-3" class="widget-container-left widget_nav_menu"><span class="widget-title">Termékeink</span>
        <div class="menu-lablec-bal-container">
            <ul id="menu-lablec-bal" class="menu">
                <li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386">
                    <a href="http://www.furjtojas.eu/fustolt-furjtojas/">Füstölt fürjtojás</a>
                </li>
                <li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385">
                    <a href="http://www.furjtojas.eu/fott-furjtojas-konzerv/">
                        Főtt fürjtojás konzerv
                    </a>
                </li>
                <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-14">
                    <a href="http://www.furjtojas.eu/">Fürjtojás</a>
                </li>
                <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                    <a href="http://www.furjtojas.eu/shiso-level/">Shiso levél</a>
                </li>
                <li id="menu-item-389" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389">
                    <a href="http://www.furjtojas.eu/szojabab/">Szójabab</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="nav_menu-2" class="widget-container-center widget_nav_menu"><span class="widget-title">Minden ami fürj és fürjtojás</span>
        <div class="menu-lablec-jobb-container">
            <ul id="menu-lablec-jobb" class="menu">
                <li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396">
                    <a href="http://www.furjtojas.eu/furjtojas-keltetes/">Fürjtojás
                        keltetés</a>
                </li>
                <li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393">
                    <a href="http://www.furjtojas.eu/furj-tartasa/">Fürj tartása</a>
                </li>
                <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394">
                    <a href="http://www.furjtojas.eu/furj-tenyesztese/">Fürj tenyésztése</a>
                </li>
                <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404">
                    <a href="http://www.furjtojas.eu/miert-a-furjtojas/">
                        Miért a fürjtojás?
                    </a>
                </li>
                <li id="menu-item-397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397">
                    <a href="http://www.furjtojas.eu/furjtojas-kura/">Fürjtojás kúra</a>
                </li>
                <li id="menu-item-395" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395">
                    <a href="http://www.furjtojas.eu/furjtojas-hatasa/">Fürjtojás hatása</a>
                </li>
                <li id="menu-item-399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399">
                    <a href="http://www.furjtojas.eu/furjtojas-tapasztalatok/">Fürjtojás
                        tapasztalat</a></li>
                <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402">
                    <a href="http://www.furjtojas.eu/japan-furj/">Japán fürj</a>
                </li>
                <li id="menu-item-398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398">
                    <a href="http://www.furjtojas.eu/furjtojas-recept/">Fürjtojás recept</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="text-2" class="widget-container-right widget_text"><span class="widget-title">Elérhetőségeink</span>
        <div class="textwidget">
            <ul class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="{{ path('app_site_content_page_text', {'code': 'cegunkrol'}) }}">
                        Cégünkről
                    </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="{{ path('app_site_content_page_text', {'code': 'kapcsolat'}) }}">
                        Kapcsolat
                    </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="{{ path('app_site_content_page_text', {'code': 'aszf'}) }}">
                        Ászf
                    </a>
                </li>
            </ul>
            {#<p>
                Tamago Kft.<br/>
                1161 Budapest, Albán utca 1.<br/>
                Telefon: (06-1)-403-0459<br/>
                E-mail: info@furjtojas.eu<br/>
                Web: www.furjtojas.eu
            </p>#}
        </div>
    </div>
    <div class="clear"></div>
    <p class="copy">
        © Copyright 2018 Tamago Kft. Minden jog fenntartva </p>
    {#<p class="creator">
        <a href="http://www.ecommerce-designer.eu/hu/">Magento webáruház | webgrafikus:</a>
    </p>#}
    <div class="clear"></div>
</footer>