<a href="http://www.furjtojas.eu/" title="Fürjtojás.eu" rel="home" id="logo">
    <img src="http://www.furjtojas.eu/wp-content/themes/starter/images/logo.png" width="435" height="125" alt="Japán fürj" title="Japán fürj"/>
</a>
<nav class="small">
    <ul id="menu-legfelso" class="menu">
        <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="http://www.furjtojas.eu/cegunkrol/">CÉGÜNKRŐL</a></li>
        <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="http://www.furjtojas.eu/kapcsolat/">Kapcsolat</a></li>
    </ul>
</nav>
<div class="contact">
    <span>Rendeljen füstölt fürjtojást!</span>
    <ul>
        <li class="phone">(06)-30-655-8977</li>
        <li class="mail">info@furjtojas.eu</li>
    </ul>
</div>
<div class="clear"></div>