{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div id="site-header-container">
        {% include 'site/header.html.twig' %}
    </div><!-- #site-header-container -->

    <div id="site-menu-container">
        {% include 'site/siteMenu.html.twig' %}
    </div><!-- #site-menu-container -->

    <div id="site-content-container">
        {% block siteContent %}{% endblock %}
    </div><!-- #site-content-container -->

    <div id="site-footer-container">
        {% include 'site/footer.html.twig' %}
    </div><!-- #site-footer-container -->

{% endblock %}
