{% extends 'base.html.twig' %}

{% block body %}

    Fejlec<hr />
    Menu<hr/>

    <div id="site-content">

        {% block siteContent %}{% endblock %}

    </div><!-- #site-content -->

{% endblock %}
