{% extends 'base.html.twig' %}

{% block title %}
    Admin - {{ parent() }}
{% endblock %}

{% block body %}

    <hr />
    <a href="{{ path('app_admin_dashboard_index') }}">Kezdooldal</a>
    <hr />

    <div id="admin-content">

        {% block adminContent %}{% endblock %}

    </div><!-- #admin-content -->

{% endblock %}