<script id="js-template-egf-table-row" type="text/template">
    <tr>
        <% for (iKey in this.oRowContent) { %>
            <td>
                <% this.oRowContent[iKey] %>
            </td>
        <% } %>
    </tr>
</script>