<script id="js-template-egf-table-row" type="text/template">
    <tr>
        <% for (rowKey in this.rowContent) { %>
            <td>
                <% this.rowContent[rowKey] %>
            </td>
        <% } %>
    </tr>
</script>