{% extends 'site/site.html.twig' %}

{% import _self as self %}

{% block title %}
    {{ 'page_title.site.new_order.submitted'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.new_order.submitted'|trans }}</h1>

    {{ orderSubmittedTextEntity.getText()|raw }}

{% endblock %}