<script id="js-template-egf-table" type="text/template">
    <input type="text" class="egf-table-global-search" placeholder="<% this.translations.globalSearchPlaceholder %>"/>
    <table border="1">
        <thead>
            <% for (columnKey in this.columns) { %>
                <th class="egf-table-head" data-sortby="<% this.columns[columnKey]['_key'] %>">
                    <% this.columns[columnKey].text %>
                </th>
            <% } %>
        </thead>
        <tbody></tbody>
    </table>
    <span class="egf-table-info"></span>
</script>