<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Fürjtojás - Japán fürj{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {% block preScripts %}{% endblock %}

    </head>
    <body>

        {% block body %}{% endblock %}

        {% block postScripts %}{% endblock %}

    </body>
</html>
