<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{{ 'site.title.base'|trans }}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {% block preScripts %}{% endblock %}

    </head>
    <body class="home page page-id-4 page-template-default">

        {% block body %}{% endblock %}

        {% block postScripts %}{% endblock %}

    </body>
</html>
